@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: #fff !important;
  fill: #fff !important;
  stroke: #fff !important;
}

body {
  font-family: 'Mouse Memoirs', sans-serif;
}
